<!-- <nav class="navbar">
  <button class="btn">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav> -->

<div class="fluid-container header-container">
  <h2 class="header-text">Dashboard</h2>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
    href="#" role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
      <i class="header-nav-icon fa-regular fa-circle-user pe-1"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="header dropdown-item" href="#">Profile</a></li>
      <li><a class="header dropdown-item" href="#">Settings</a></li>
      <li><a class="header dropdown-item" href="#">Log out</a></li>
    </ul>
  </div>
</div>


